#logo {
    background-image: url("image/sky-news.png");
    background-size: cover;
    background-position: center;
    height: 50px;
    width: 200px;
}
.news-card-1
{
    width:238.656px ;
    height:400px ;
    /* border:1px solid black; */
    margin: 0.5em;
    -webkit-box-shadow: 0px 4px 23px -2px rgba(0,0,0,0.48);
    -moz-box-shadow: 0px 4px 23px -2px rgba(0,0,0,0.48);
    box-shadow: 0px 4px 23px -2px rgba(0,0,0,0.48);
}
.cards-container
{
    display: flex;
    height:auto ;
    flex-wrap: wrap;
    margin: 0.5em;
    padding: 10px;
    justify-content: center;
}
.ads-1
{
    margin-top:0.5em;
}
.news-img
{
    height:150px;
    background-size: cover;
    background-position: center;
}
.news-content-1
{
    padding: 5px;

}
.heading
{
    margin-top:2em;
}